extends layout

block content
  h1= message
  div(class='quizDiv')
    form(action=`/users/changepassword` method='POST')
      label #{'Stare Hasło: '}
      input(type='password', class='textInput',  name='oldPassword' required)
      br
      label #{'Nowe Hasło: '}
      input(type='password', class='textInput', name='newPassword' required)
      br
      label #{'Powtórz Nowe Hasło: '}
      input(type='password', class='textInput', name='newPassword2' required)
      br
      input(class='blueButton', type='submit', value=`Zmień Hasło`) 
    br
    a(class='greenButton', href="/quizzes/all") #{'Wróć'}
    
        
